<div class="row">
   <div class="col-md-10">
      <% @todos.each do |i|%>
      <h1> <%= link_to i.description, i %> </h1>
      <p> <%= i.completed %> </p>
      <p class="btn btn-danger" > <%= link_to "Borrar", i, method: :delete %> </p>
      <p class="btn btn-warning" > <%= link_to "Editar", todo_edit_path(i) %> </p>
 <% end %>
   </div>
 </div>
