<div class="row">
  <div class="col-md-6">
<% @complete.each do |i| %>
<h1> <%= i.description %> </h1>
<p> <%= i.completed %> </p>
<% end %>
  </div>
  <div class="col-md-6">
<% @no_complete.each do |i| %>
<h1> <%= i.description %> </h1>
<p> <%= i.completed %> </p>
<% end %>
  </div>
</div>
